:root {
  --branding-color: rgb(35, 81, 58);
  --heading-font: "Caveat", cursive;
  --paragraph-font: "Comfortaa", cursive;
}
h1 {
  font-family: var(--heading-font);
}
h2,
p,
ul {
  font-family: var(--paragraph-font);
  font-weight: 200;
}
.top-header {
  background-color: var(--branding-color);
}
.logo {
  background-color: var(--branding-color);
  color: white;
  padding: 10px 14px;
  border-radius: 50%;
}
nav {
  padding: 5px 20px;
  margin: 0;
  background-color: white;
}

nav h1 {
  line-height: 50px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-weight: 800;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 30px;
  line-height: 55px;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.greeting-card {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
  background-image: url("../images/forest.jpg");
  background-size: cover;
}
.greeting-card h1 {
  font-size: 120px;
  line-height: 1.5;
  margin: 0;
  color: white;
  opacity: 0.8;
}
.greeting-card h2 {
  margin: 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.greeting-card p {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.amazing {
  text-align: center;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  font-weight: bold;
}
.about-ukraine {
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
}
.about-me h1 {
  font-size: 70px;
  line-height: 1.5;
}
.about-me h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}
.about-me p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  text-align: justify;
}
.contact-page {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  padding: 50px 20px;
}
.contact-card {
  background-color: white;
  /* opacity: 0.7; */
  max-width: 60%;
}
.contact-card h1 {
  font-size: 96px;
  color: var(--branding-color);
}
.contact-card h2 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--branding-color);
}
footer a {
  margin: 0 10px;
  color: white;
  background-color: var(--branding-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
}

footer a:hover {
  color: var(--branding-color);
  background-color: white;
  border: 1px solid var(--branding-color);
  padding: 9px 13px;
}

@media (max-width: 576px) {
  nav li {
    margin-left: 10px;
  }
  .greeting-card h1 {
    font-size: 70px;
  }
  .about-me h1 {
    text-align: center;
  }
  .about-me h2 {
    text-align: center;
  }

  .contact-card h1 {
    font-size: 60px;
  }
  .contact-card h2 {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .contact-card {
    max-width: 100%;
  }
}
