:root {
  --branding-color: rgb(35, 81, 58);
  --heading-font: "Caveat", cursive;
  --paragraph-font: "Comfortaa", cursive;
}
h1 {
  font-family: var(--heading-font);
}
h2,
p {
  font-family: var(--paragraph-font);
}
.greeting-card {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
  background-image: url("../images/forest.jpg");
  background-size: cover;
}
.greeting-card h1 {
  font-size: 120px;
  line-height: 1.5;
  margin: 0;
  color: white;
  opacity: 0.8;
}
.greeting-card h2 {
  margin: 0;
  font-size: 24px;
  color: white;
  font-weight: bold;
}
.greeting-card p {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.amazing {
  text-align: center;
  margin: 40px;
  font-size: 24px;
  font-weight: bold;
}
.about-ukraine {
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
}
.about-me h1 {
  font-size: 70px;
  line-height: 1.5;
}
.about-me h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}
.about-me p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  text-align: justify;
}
.contact-page {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  margin: 7% 5%;
}
.contact-card {
  background-color: white;
  opacity: 0.7;
  max-width: 60%;
}
.contact-card h1 {
  font-size: 96px;
}
.contact-card h2 {
  font-size: 24px;
}
@media (max-width: 576px) {
  .greeting-card h1 {
    font-size: 70px;
  }
  .about-me h1 {
    text-align: center;
  }
  .about-me h2 {
    text-align: center;
  }

  .contact-card h1 {
    font-size: 60px;
  }
  .contact-card h2 {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .contact-card {
    max-width: 100%;
  }
}
